<!-- EXPERIENCES -->

<div class="container experiences-container">
  <h2 class="mt-5">Expériences professionnelles</h2>
  <div class="experiences row row-cols-1 row-cols-md-3 g-3">

    <div class="col">
      <div class="card align-items-center card-experience">
        <%= image_tag "experiences/professeure.png" %>
        <div class="card-body">
          <h5 class="card-title">Professeure d'anglais</h5>
          <div class="card-footer">
            <small class="text-muted">2022</small>
          </div>
          <p class="card-text">Préparation des cours, suivi des avancées des élèves, évaluations régulières grâce à Quizlet, travail avec Ecole Directe.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card align-items-center card-experience">
        <%= image_tag "experiences/vendeuse.png" %>
        <div class="card-body">
          <h5 class="card-title">Assistante Export Maisons du Monde</h5>
          <div class="card-footer">
            <small class="text-muted">2020 - 2021</small>
          </div>
          <p class="card-text">Chargée du suivi logistique et commercial des expéditions vers les magasins hors Europe.</p>
          <p class="card-text">Gestion des commandes exceptionnelles et éligibilités produits.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card align-items-center card-experience">
        <%= image_tag "experiences/technicienne.png" %>
        <div class="card-body">
          <h5 class="card-title">Technicienne Apple</h5>
          <div class="card-footer">
            <small class="text-muted">2018 - 2019</small>
          </div>
          <p class="card-text">Accueil et traitement des incidents logiciels iOS à distance, réalisation des installations de logiciels, d'applicatifs et mises à jours.</p>
          <p class="card-text">Reporting de ses activités dans l’outil mis à disposition.</p>
        </div>
      </div>
    </div> 
  </div>

  <!-- FORMATIONS -->

  <div class="formations-container">
    <h2 class="ms-4">Formations</h2>
    <div class="experiences row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

      <div class="col">
        <div class="card align-items-center card-experience">
          <%= image_tag "formations/wagon.png" %>
          <div class="card-body">
            <h5 class="card-title">Conception et Développement d'Applications Web</h5>
            <div class="card-footer">
              <small class="text-muted">2023</small>
            </div>
            <p class="card-text">Accueil et traitement des incidents logiciels iOS à distance, réalisation des installations de logiciels, d'applicatifs et mises à jours.</p>
            <p class="card-text">Reporting de ses activités dans l’outil mis à disposition.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card align-items-center card-experience">
          <%= image_tag "formations/master.png" %>
          <div class="card-body">
            <h5 class="card-title">Master Responsable Développement International</h5>
            <div class="card-footer">
              <small class="text-muted">2016-2018</small>
            </div>
            <p class="card-text">Exportation d'entreprises à l'échelle européenne et suivi apprentissage des douanes internationales.</p>
            <p class="card-text">Expatriation de 9 mois en Nouvelle-Zélande en 2017.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card align-items-center card-experience">
          <%= image_tag "formations/licence.png" %>
          <div class="card-body">
            <h5 class="card-title">Licence Langues Etrangères Appliquées</h5>
            <div class="card-footer">
              <small class="text-muted">2012-2015</small>
            </div>
            <p class="card-text">Suivi des cours, apprentissage approfondi de l'anglais et de l'espagnole ainsi que de leurs économies nationales respectives.</p>
            <p class="card-text">Erasmus de 6 mois en Espagne.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
